body {
	background-color: #22272e;
	color: #d1d9e1;
}

a {
	color: #778899;
	text-decoration: none;
}

a:hover {
	color: #c4c9ce;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #d1d9e1;
}

p {
	color: #a7b1bb;
}

button {
	background-color: #37474f;
	color: #d1d9e1;
	border: 1px solid #4d5b66;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	cursor: pointer;
}

button:hover {
	background-color: #4d5b66;
}

button:active {
	background-color: #5a6978;
}

input {
	background-color: #37474f;
	color: #d1d9e1;
	border: 1px solid #4d5b66;
	padding: 0.5rem;
	border-radius: 0.5rem;
}

input:focus {
	background-color: #4d5b66;
}

.border {
	border: 1px solid #4d5b66;
}

.border_radius {
	border-radius: 1rem;
}

.shadow {
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}
